# tasks file for create_ec2
---
- name: create keypair
  amazon.aws.ec2_key:
    name: "{{ ssh_key_name }}"
    key_material: "{{ lookup('file', 'aws_id_ed25519.pub') }}"
    region: "{{ aws_region }}"
  tags:
    - ec2_keypair
  no_log: true
  register: keypair_out

- name: Display keypair output
  ansible.builtin.debug:
    var: keypair_out
    verbosity: 2
  tags:
    - ec2_keypair

- name: Define the backend configuration at init
  cloud.terraform.terraform:
    project_path: "{{ project_dir }}"
    state: "{{ state }}"
    force_init: true
    backend_config:
      region: "{{ aws_region }}"
      key: "{{ state_path }}"
      bucket: "{{ bucket_name }}"
  register: backend_out

- name: Display backend info
  ansible.builtin.debug:
    var: backend_out
    verbosity: 2

#- name: Basic terraform deploy of a service
#  cloud.terraform.terraform:
#    project_path: '{{ project_dir }}'
#    state: present
#  register: tf_out

#- name: Display terraform deployment info
#  ansible.builtin.debug:
#    var: tf_out
#    verbosity: 2

